<!DOCTYPE html>
<!--
$LICENSE
-->
<html lang="en">
    <head>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="style.css">
        <!--Favicon-->
        <link rel="icon" type="image/png" href="$PROFILEPICTURE">
        <!--Content, preview and name-->
        <title>$WEBSITE_NAME</title>
        <meta property="og:type" content="website">
        <meta property="og:url" content="$WEBSITE_URL">
        <meta property="og:title" content="$WEBSITE_NAME">
        <meta property="og:description" content="$DESCRIPTION">
        <meta property="og:image" content="$PROFILEPICTURE">
        <meta name="twitter:title" content="$WEBSITE_NAME">

        <!--About info-->
        <meta name="author" content="$AUTHOR_NAME">
        <meta name="description" content="$DESCRIPTION">
        
        <!--Page config-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    $JAVA_SCRIPT
    <body>
        <div class="parent">
        <div class="center_element main_div">
            <div class="content">
                <div class="about_info">
                    <h1>$TITLE</h1>
                    <p>$MAIN_BODY_CONTENT</p>
                </div>
                <div class="icons">
                    <!--Github-->
                    <div class= "icon_container">
                        <a title="$GITHUB_TITLE" href="$GITHUB_URL" target="_blank">
                            <img class="icon_svg" alt="GitHub" src="$GITHUB_ICON">
                        </a>
                    </div>
                    <div class= "icon_container">
                        <a title="$LINKEDIN_TITLE" href="$LINKEDIN_URL" target="_blank">
                            <img class="icon_svg" alt="Linkedin" src="$LINKEDIN_ICON">
                        </a>
                    </div>
                    <!--Mail contact-->
                    <div class= "icon_container">
                        <a title="$MAIL_TITLE" href="$MAIL_URL" target="_blank">
                            <img class="icon_svg" alt="Mail" src="$MAIL_ICON">
                        </a>
                    </div>
                    <div class="icon_container last">
                        <a title="$PROFILEPICTURE_TITLE" href="$PROFILEPICTURE_URL" target="_blank">
                            <img class="pfp" alt="$PROFILEPICTURE_TITLE" src="$PROFILEPICTURE">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div>
            <footer>
                $ACKNOWLEDGMENTS
                <!-- Uncomment this if you are using my template -->
                <!--
                    $TEMPLATE_CREATOR
                -->
            </footer>
        </div>
    </body>
</html>