body {
    background-color: #111b22;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
    font-size: 1.2rem;
}
a {
    color: rgb(88, 166, 255);
}
.about_info {}
.parent {}
.center_element {}
.main_div {
    background-color: #1d232b;
    border-radius: 20px;
    padding: 3%;
    max-width: 500px;
    display: block;
    margin: auto;
    margin-top: {{{ MARGIN_TOP_MAIN_DIV }}};
}
.invert {
    filter: invert(1);
}
.icons {
    display: flex;
    position: relative;
}
.icon_container {
    max-width: 30px;
    width: 15%;
    padding: 3%;
}
.icon_svg {
    width: 100%;
}
.last {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0%;
}
.pfp {
   width: 100%;
}
.footer_link {
    color: rgb(66,200, 172);
}

@media only screen and (max-height: {{{ BREAKPOINT_CSS_FOOTER }}} ) {
    footer {
        padding: 1rem;
        text-align: left;
        font-size: 1rem;
        color: lightgrey;

    }
}
@media only screen and (min-height: {{{ BREAKPOINT_CSS_FOOTER }}} ) {
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: left;
        z-index: -1;
        font-size: 1rem;
        color: lightgrey;
    }
}